/osa02-Osa02_02.PositiivisenLuvunLisaaminen/build/
/osa02-Osa02_03.Salasana/build/
/osa02-Osa02_04.UseammanLuvunSumma/build/
/osa02-Osa02_05.YhdestaSataan/build/
/osa02-Osa02_06.SadastaYhteen/build/
/osa02-Osa02_07.ParillisetLuvut/build/
/osa02-Osa02_08.MihinJaMista/build/